.dashboard_section{
    width: 100%;
    height: 200vh;
}
.dashboard_cards_wrapper{
    display: flex;
    margin-top: 15px;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}
.dashboard_card{
    width: 100%;
    max-width: 23.5%;
    min-width: 23.5%;
    border-radius: 15px;
    background-color: rgb(12, 13, 41);
    box-shadow: 0px 0px 2px rgb(12, 13, 41);
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.money_para_div p{
    font-size: 13px;
    font-weight: 600;
    color: rgb(136, 136, 136);
}
.money_para_div h5{
    font-weight: 700;
    color: white;
    font-size: 20px;;
}
.money_para_div span{
  font-size: 13px;
  font-weight: 800;
  color: rgb(39, 162, 130);
}
.dashboard_card i{
    padding: 14px 15px;
    font-size: 20px;
    color: white;
    background-color: rgb(1, 117, 253);
    border-radius: 15px;
}
.dashboard_user_wrapper{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
    margin-top: 30px;
}
.dashboard_user_div{
    width: 100%;
    max-width: 42.5%;
    min-width: 42.5%;
    background-image: url('../../assets/cardimgfree.5771cbbb.png');
    border-radius: 20px;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    padding: 40px 20px;
    height: 100%;
}
.dashboard_user_div h5{
    font-size: 14px;
    font-weight: 600;
    color: rgb(152, 151, 151);
}
.dashboard_user_div h2{
    font-weight: 600;
    color: white;
    margin-top: 5px;
}
.dashboard_user_div p{
    font-size: 16px;
    font-weight: 500;
    color: rgb(152, 151, 151);
    margin-top: 20px;
}
.dashboard_user_div h6{
    font-size: 16px;
    font-weight: 500;
    color: rgb(229, 228, 228);
    margin-top: 20px;
    margin-top: 100px;
}
.dashboard_user_div h6 i {
    font-size: 12px;
    margin-left: 5px;
}
.satisfaction_rate_div{
    width: 100%;
    max-width: 23%;
    min-width: 23%;
    border-radius: 20px;
    padding: 25px 20px 30px 20px;
    background:linear-gradient(to bottom right ,rgb(17, 18, 50),rgb(27, 30, 99));
    height: 100%;
}
.satisfaction_rate_div h3{
color: white;
font-size: 20px;
font-weight: 600;
}
.satisfaction_rate_div h5{
    font-size: 15px;
    font-weight: 500;
    color: rgb(152, 151, 151);
    margin-top: 8px;
}
.rc_progress_div_wrapper .rc-progress-circle-path{
    transform: rotate(-50deg) !important;
    stroke: rgba(3, 115, 244, 0.655) !important;
}
.rc_progress_circle{
    width: 100%;
    max-width: 85%;
    min-width: 85%;
}
.rc_progress_div_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}
.likes_div{
    width: 100%;
    max-width: 90%;
    min-width: 90%;
    background-color: rgb(8, 13, 35);
    margin: 0 auto;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;
    padding: 10px 20px;
}
.likes_div p {
    font-size: 12px;
    font-weight: 500;
    color: rgb(152, 151, 151);
}
.likes_div h6 {
    font-size: 10px;
    font-weight: 500;
    color: rgb(187, 185, 185);
    margin-top: 5px;
}
.likes_div h3 {
    font-size: 32px;
    font-weight: 600;
    color: white;
}
.refer_tracking_div{
    width: 100%;
    max-width: 30%;
    min-width: 30%;
    background:linear-gradient(to bottom right ,rgb(17, 18, 50),rgb(27, 30, 99));
    border-radius: 20px;
    padding: 15px 20px;
}
.refer_head_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.refer_head_wrapper h3{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.refer_head_wrapper i{
    color: rgb(5, 112, 252);
    font-size: 22px;
    padding: 7px 9px;
    border-radius: 10px;
    background-color: rgb(34, 36, 74);

}
.refer_invited_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}
.left_refer{
    width: 100%;
    max-width: 33%;
    min-width: 33%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.invited_div{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border-radius: 20px;
    background-color: rgb(9, 13, 38);
    padding: 20px 20px;
}
.invited_div p{
    font-size: 14px;
    font-weight: 600;
    color: rgb(152, 151, 151);
}
.invited_div h2{
    font-size: 20px;
    font-weight: 600;
    color: white;
    line-height: 30px;
    margin-top: 5px;
}
.right_refer{
    width: 100%;
    max-width: 65%;
    min-width: 65%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}
.rc_progress_circle5{
    width: 100%;
    max-width: 90%;
    min-width: 90%;


}
.right_refer .rc-progress-circle-path{
    stroke: rgb(12, 158, 125) !important;
}
.right_refer .rc-progress-circle-trail{
    stroke: rgba(33, 35, 76, 0.167) !important;
}
.safety_div{
    position: absolute;
    top: 25%;
    left: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
}
.safety_div p{
    font-size: 15px;
    font-weight: 700;
    color: rgb(152, 151, 151);
}
.safety_div h3{
    font-size: 33px;
    font-weight: 600;
    color: white;
}
.area_chart_div{
    width: 100%;
    max-width: 55%;
    min-width: 55%;
    border-radius: 20px;
    height: 400px;
    background: linear-gradient(to right ,rgb(9, 14, 46),rgb(33, 44, 106));
    padding: 0px 20px;
}
.area_chart_div p{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.area_chart_div h5{
    color: rgb(127, 136, 165);
    font-size: 15px;
}
.area_chart_div h5 span{
    color: rgb(22, 167, 120);
    font-size: 14px;
    font-weight: 600;
}
.area_chart{
    width: 100%;
    max-width: 100%;
    height: 290px;
    margin-top: 50px;
}