.billing_heading{
  font-size: 15px;
  color: #FFF;
  font-weight: 500;
  margin-bottom: 30px;
}
.credit_vision_invoices_wrapper{
  display: flex;
  column-gap: 30px;
}
.credit_vision_div{
  width: 100%;
  min-width: 65%;
  max-width: 65%;
}
.credit_vision_wrapper{
  display: flex;
  column-gap: 30px;
  width: 100%;
}
.debitcard_section_wrapper{
  width: 100%;
  max-width: 47.5%;
  min-width: 47.5%;
  background-image: url('../../assets/billing-background-card.4fa04d9c.png');
  border-radius: 20px;
  padding: 20px 30px;
  height: 250px;
}
.debitcard_header_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.debitcard_header_wrapper p{
  font-size: 18px;
  color: #FFF;
  font-weight: 600;
}
.card_number_div{
  font-size: 22px;
  color: #FFF;
  font-weight: 500;
  margin-top: 50px;
}
.card_expire_info{
  display: flex;
  column-gap: 20px;
  margin-top: 15px;
}
.creditcard_section_wrapper{
  width: 100%;
  min-width: 47.5%;
  max-width: 47.5%;
  border-radius: 20px;
  height: 250px;
  background: linear-gradient(to right ,rgb(9, 14, 46),rgb(33, 44, 106));
  display: flex;
  /* align-items: center; */
  padding: 20px;
  flex-direction: column;
}
.credit_balance_section{
  background-image: url('../../assets/download.png');
  background-size: cover;
  width: 100%;
  height: 100px;
  border-radius: 20px;
  padding: 20px;
}
.credit_balance_head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
}
.credit_balance_head p{
  font-size: 14px;
  font-weight: 500;
}
.creditcard_newest{
  color: #9caabd;
  font-size: 11px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 8px;
}
.bill_taxes_wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bill_taxes_logo{
  background-color: #1b2248;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.bill_taxes_content{
  display: flex;
  column-gap: 25px;
}
.payment_method_wrapper{
  margin-top: 30px;
}
.payment_card_wrapper{
  width: 100%;
  background: linear-gradient(to right ,rgb(9, 14, 46),rgb(33, 44, 106));
  padding: 20px;
  border-radius: 20px;
}
.payment_header_button_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.payment_header_button_wrapper p{
  color: #FFF;
  font-weight: 600;
}
.add_new_card_button{
  padding: 8px 15px;
  background-color: #0075ff;
  color: #FFF;
  font-size: 12px;
  border-radius: 10px;
  font-weight: 600;
}
.card_number_edit_wrapper{
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.payment_card_edit_section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  border: 1px solid white;
  border-radius: 20px;
  width: 100%;
  max-width: 47%;
  min-width: 47%;
}
.visa_card_edit_section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  border: 1px solid white;
  border-radius: 20px;
  width: 100%;
  max-width: 47%;
  min-width: 47%;
}
.payment_card_edit_section input{
  background: transparent;
  border: none;
  color: #FFF;
  font-weight: 500;
  font-size: 14px;
}
.visa_card_edit_section input{
  background: transparent;
  border: none;
  color: #FFF;
  font-weight: 500;
  font-size: 14px;
}
.invoice_card_wrapper{
  width: 100%;
  min-width: 32%;
  max-width: 32%;
  /* height: 100%; */
  background: linear-gradient(to right ,rgb(9, 14, 46),rgb(33, 44, 106));
  padding: 20px 15px;
  border-radius: 20px;
}
.invoice_card_heading_button_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.invoice_card_heading_button_wrapper p{
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
}
.invoice_btn{
  padding: 5px 30px;
  background-color: #0075ff;
  font-size: 12px;
  font-weight: 600;
  color: #FFF;
  border-radius: 10px;
}
.invoices_pdf_div{
  display: flex;
  align-items: center;
}
.invoices_data_1{
  width: 225px;
  max-width: 225px;
  /* border: 1px solid white; */
  padding: 19px 0px;
}
.invoices_data_2{
  width: 60px;
  max-width: 60px;
  /* border: 1px solid white; */
  font-size: 13px;
  color: #9eacbe;
  font-weight: 500;
  padding: 19px 0px;
}
.invoices_data_3{
  font-size: 13px;
  color: #9eacbe;
  padding: 19px 0px;
}
.invoices_table{
  min-width: 400px;
}
.invoice_card_wrapper::-webkit-scrollbar{
  display: none;
}
.billing_card_wrapper{
  width: 100%;
  min-width: 60%;
  max-width: 60%;
  background: linear-gradient(to right ,rgb(9, 14, 46),rgb(33, 44, 106));
  padding: 20px 20px 5px 20px;
  border-radius: 20px;
}
.billing_card_heading{
  font-size: 17px;
  color: #FFF;
  font-weight: 500;
  margin-bottom: 30px;
}
.users_bill{
  padding: 20px 20px;
  background: linear-gradient(to left ,rgb(9, 14, 46),rgb(33, 44, 106));
  border-radius: 10px;
  margin-bottom: 30px;
}
.users_bill_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.users_bill_header p{
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
}
.users_btns{
  display: flex;
}
.billing_transaction_cards_wrapper{
  margin-top: 30px;
}
.users_bill_content{
  color: #a0aec0;
  font-size: 12px;
  margin-top: 10px;
  line-height: 20px;
}